[toolchain]
anchor_version = "0.31.1"
solana_version = "2.1.20"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_plinko_smart_contract = "7dzjQ2uoBb9dDC6S4bdAk7rynABaBWrXWaXkp4xBicuv"

[registry]
url = "https://api.devnet.solana.com"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
